.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    fonr-size: 0.7em;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}
.push {
    margin-left: auto;
}
.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.covertext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    font-weight: bold;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.card {
    background-color: #444;
    margin: 50px
}
.card > img {
    max-width: 100%
    height: auto;
}

.card h1 {
    font-size: 1.5rem
}

.card p{
    font-size: 1rem
}

.card > .text {
    padding: 0 20px 20px;
}
