.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    fonr-size: 0.7em;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}
.push {
    margin-left: auto;
}
